@import "colors";
@import "font_faces";
@import "/scss/vendor/spectre.min.css";
@import "/scss/vendor/tippy-themes/light-border.css";

html {
  width: 425px;
  height: 455px;
}


#container {
  font-family: "Roboto Regular" !important;
  min-height: 380px;

  #body {
    height: 100%;
    overflow: hidden;
    min-height: inherit;
    margin: 20px 20px 45px 30px;

    .loading {
      position: relative;
      left: 50%;
      top: 130px;
    }
  }

  #footer {
    position: fixed;
    bottom: 0;
    background-color: #FAF6F6;
    border-top: 1px solid #C0C0C0;
    clear: both;
    padding-top: 15px;
    height: 46px;
    width: 100%;

    a {
      color: inherit;
      text-decoration: none;
    }

    a#screenshot-js {
      font-family: "NerkoOne Regular" !important;
      font-size: 24px;

      position: relative;
      left: 5px;
      bottom: 9px;

      &:active, &:hover, &:visited {
        color: inherit;
        text-decoration: none;
      }
    }

    #nav-icon {
      filter: invert(10%) sepia(89%) saturate(6336%) hue-rotate(245deg) brightness(95%) contrast(150%);
      position: fixed;
      left: 185px;
      bottom: 3px;
    }

    #help-icon {
      position: fixed;
      left: 220px;
      bottom: 3px;
      cursor: pointer;
    }

    #help-icon img, #nav-icon img {
      width: 24px;
      height: 24px;
    }
  }
}

div[data-tippy-root] {
  font-family: "Roboto Regular";
}

#popover-help-content {
  width: 415px;

  .shortcut {
    font-weight: bold;
  }

  .command-help:not(:last-child) {
    margin-bottom: 10px;
  }
}

.hidden {
  display: none;
}

.feather-16 {
  width: 16px;
  height: 16px;
}

.feather-20 {
  width: 20px;
  height: 20px;
}
