@import "font_faces";
@import "/scss/vendor/spectre.min.css";
@import "/scss/vendor/tippy-themes/light-border.css";

:root {
  --green: #4D953A;
  --blue: #0000FF;
  --red: #FF0000;
  --light-gray: #FAF6F6;
}

.green {
  filter: invert(43%) sepia(65%) saturate(441%) hue-rotate(62deg) brightness(101%) contrast(87%);
}

.blue {
  filter: invert(8%) sepia(95%) saturate(7420%) hue-rotate(249deg) brightness(101%) contrast(144%);
}

.red {
  filter: invert(21%) sepia(94%) saturate(7199%) hue-rotate(349deg) brightness(89%) contrast(96%);
}

.hidden {
  display: none;
}
