@import "colors";
@import "../../css/spectre.min.css";
@import "../../css/tippy-themes/light-border.css";

html {
  width: 736px;
}

#container {
  min-height: 350px;

  #header {
    width: 100%;
    margin: 10px 0 10px 0;
    text-align: center;

    a {
      color: #000;
      text-decoration: none;
      &:visited , &:active , &:hover {
        text-decoration: none;
      }
    }

    a#logo {
      #heading-text {
        font-size: 18px;
        font-weight: bold;
        vertical-align: top;
      }
    }
    .icons-container {
      float: left;
      width: 45%;
    }
  }

  #body {
    min-height: 275px;
    margin: 0 0 15px 10px;

    .loading {
      position: relative;
      left: 50%;
      top: 130px;
    }
  }

  #footer {
    background-color: #FAF6F6;
    border-top: 1px solid #C0C0C0;
    clear: both;
    position: sticky;
    bottom: 0;
    padding: 5px;
    height: 50px;
    width: 100%;
    #settings-icon {
      position: fixed;
      left: 48%;
      bottom: 10px;
    }
    #help-icon {
      position: fixed;
      left: 52%;
      bottom: 10px;
      cursor: pointer;
    }
  }
}

.tippy-popper {
  .shortcut {
    font-weight: bold;
  }

  .command-help:not(:last-child) {
    margin-bottom: 10px;
  }
}

.hidden {
  display: none;
}

.feather-16 {
  width: 16px;
  height: 16px;
}

.feather-20 {
  width: 20px;
  height: 20px;
}
