@font-face {
  font-family: "Roboto Regular";
  src: url('/fonts/roboto-regular.ttf') format('truetype');
}

@font-face {
  font-family: "KronaOne Regular";
  src: url('/fonts/kronaone-regular.ttf') format('truetype');
}