@font-face {
  font-family: "Roboto Regular";
  src: url('/fonts/roboto-regular.ttf') format('truetype');
}

@font-face {
  font-family: "NerkoOne Regular";
  src: url('/fonts/nerkoone-regular.ttf') format('truetype');
}