<div class='screenshot screenshot-template hidden'>
  <div class='loader-container'>
    <strong>Please wait</strong>
    <div class='loader'></div>
  </div>
  <a class='image' target='_blank'>
    <div class='action-bar hidden'>
      <a href='#' data-tippy-content='Save screenshot' class='save'>
        <i class='feather-16 green' data-feather='save'></i>
      </a>
      <a href='#' data-tippy-content='Copy screenshot to clipboard' class='copy'>
        <i class='feather-16 blue' data-feather='copy'></i>
      </a>
      <a href='#' data-tippy-content='Delete screenshot from memory' class='delete'>
        <i class='feather-16 red' data-feather="trash"></i>
      </a>
    </div>
  </a>
</div>
