html {
  width: 650px;
}

.hidden {
  display: none;
}

#header {
  margin: 0 auto;
  width: 450px;
  text-align: center;
  margin-bottom: 20px;
}

#header h2 {
  margin-bottom: 5px;
}

#header img {
  vertical-align: bottom;
}

#header a, #header a:visited, #header a:active {
  color: #000;
  text-decoration: none;
}

.tip {
  clear: both;
  padding-top: 20px;
  margin-bottom: 10px;
}

#screenshots {
  min-height: 200px;
  text-align: center;
}

.screenshot {
  float: left;
  height: 160px;
  width: 200px;
  margin-right: 5px;
  margin-bottom: 25px;
}

.action-bar {
  position: relative;
  top: 3px;
  text-align: center;
}

.feather-16 {
  width: 16px;
  height: 16px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.action-bar a, .action-bar a:visited, .action-bar a:active {
  text-decoration: none;
}
