html {
  width: 650px;
}

.tip {
  margin-bottom: 10px;
}

#screenshots {
  margin: 0 auto;
  width: 450px;
  text-align: center;
}

.screenshot {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 5px;
  border: 1px solid #CCC000;
}
