@import "partials/base";
@import "../../css/loader.css";

.screenshot {
  float: left;
  height: 160px;
  width: 175px;
  margin-right: 5px;
  margin-bottom: 25px;

  .loader-container {
    margin-top: 50px;
    text-align: center;
  }

  .action-bar {
    position: relative;
    top: 5px;
    text-align: center;
  }

  .action-bar a {
    display: inline-block;
    width: 25px;
  }

  .action-bar a, .action-bar a:visited, .action-bar a:active {
    text-decoration: none;
  }
}
