@import "partials/base";
@import "/scss/vendor/loader.css";

.screenshot {
  float: left;
  height: 160px;
  width: 175px;
  margin: 0 10px 35px 0;

  .loader-container {
    margin-top: 50px;
    text-align: center;
  }

  .action-bar {
    position: relative;
    text-align: center;
  }

  .action-bar span {
    cursor: pointer;
  }

  .action-bar a {
    &:link { text-decoration: none; }
    &:hover { text-decoration: none; }
    &:visited { text-decoration: none; }
    &:active { text-decoration: none; }
  }
}

.action-bar img {
  width: 16px;
  height: 16px;
}

#footer {
  position: sticky;
  bottom: -40px;
}
