@import "partials/base";
@import "partials/browser_action";

#container {
  #body {
    font-size: 15px;

    .settings-group {
      margin: 0 0 0px 0;
    }

    .form-group {
      margin: 0 0 10px 0;

      select.form-input {
        display: inline !important;
        width: unset !important;
      }
    }
  }
}
