@import "partials/base";

#container {
  height: 245px;

  #body {
    .settings-group {
      margin: 0 0 15px 0;
    }

    .form-group {
      select.form-input {
        display: inline !important;
        width: unset !important;
      }
    }
  }

  #footer {
    position: fixed !important;
  }
}
