@import "partials/base";

#body {
  min-height: 310px !important;

  .settings-group {
    margin: 0 0 15px 0;
  }
  
  .form-group {
    select.form-input {
      display: inline !important;
      width: unset !important;
    }
  }
}
