@import "partials/base";

#container {

  #body {
    .settings-group {
      margin: 0 0 0px 0;
    }

    .form-group {
      margin: 0 0 10px 0;

      select.form-input {
        display: inline !important;
        width: unset !important;
      }
    }
  }

  #footer {
    position: fixed;
    bottom: 0;
  }
}
